# Prediction for tips

## General Idea

* Take subset with tipping (only Credit!)
* Calculate percentige
* Get duration
* Get average speed
* Get locations (tipping may be dependant on pickup/dropoff loc)
    * Maybe data will get to big -> take subset before

In [3]:
# Manage imports
import numpy as np
import pandas as pd
import seaborn as sns  
import matplotlib.pyplot as plt
df = pd.read_csv("clean.csv")

In [4]:
df.describe()

,Unnamed: 0,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,total_amount
count,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06,9.089862e+06
mean,5.563865e+06,1.662580e+00,2.772811e+00,-7.397496e+01,4.075148e+01,1.026148e+00,-7.397426e+01,4.075215e+01,1.393751e+00,1.258419e+01,3.310450e-01,4.983148e-01,1.626609e+00,1.913909e-01,1.553155e+01
std,3.215233e+06,1.309217e+00,3.348655e+00,3.519076e-02,2.751583e-02,2.281444e-01,3.448350e-02,3.179048e-02,5.028901e-01,1.004340e+01,4.213210e-01,2.897839e-02,2.377480e+00,1.184831e+00,1.239795e+01
min,0.000000e+00,1.000000e+00,0.000000e+00,-7.497944e+01,3.989138e+01,1.000000e+00,-7.496015e+01,3.978150e+01,1.000000e+00,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.300000e+00
25%,2.773322e+06,1.000000e+00,1.000000e+00,-7.399203e+01,4.073790e+01,1.000000e+00,-7.399139e+01,4.073651e+01,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,8.300000e+00
50%,5.562318e+06,1.000000e+00,1.700000e+00,-7.398177e+01,4.075437e+01,1.000000e+00,-7.397975e+01,4.075474e+01,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.000000e+00,0.000000e+00,1.180000e+01
75%,8.355590e+06,2.000000e+00,3.100000e+00,-7.396763e+01,4.076844e+01,1.000000e+00,-7.396333e+01,4.076988e+01,2.000000e+00,1.500000e+01,5.000000e-01,5.000000e-01,2.250000e+00,0.000000e+00,1.780000e+01
max,1.113547e+07,6.000000e+00,8.059000e+02,-7.306319e+01,4.174065e+01,5.000000e+00,-7.298619e+01,4.174065e+01,5.000000e+00,2.000000e+02,4.500000e+00,5.000000e-01,1.000000e+02,3.000000e+01,2.759500e+02